<img [src]="ufoSrc" id="ufo-principal" />
<div class="row h-100">
  <div class="col-sm-12 col-md-6 col-lg-6 p-0 mr-2">
    <div class="custom-card">
      <img [src]="logoSrc" alt="upm" id="img-principal">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 flex-center p-0 align-items-start align-items-md-end align-items-lg-end">
    <div class="custom-card">
      <div class="big-title">
        Bate Ye
      </div>
      <div class="big-title">
        Super Mario
      </div>
    </div>
  </div>
</div>